<div id="posts">

</div>
<div id="user-panel">
    <div>
        <h1>Register new user</h1>
        <label for="inpt-reg-username">Username</label>
        <input id="inpt-reg-username" type="text" />
        <label for="inpt-reg-nickname">Nickname</label>
        <input id="inpt-reg-nickname" type="text" />
        <label for="inpt-reg-pass">Password</label>
        <input id="inpt-reg-pass" type="text" />
        <a href="#/register"><input type="button" id="btn-reg-user" name="Register" value="Register"></a>
    </div>
    <div>
        <h1>Login existing user</h1>
        <label for="inpt-login-username">Username</label>
        <input id="inpt-login-username" type="text" />
        <label for="inpt-login-pass">Password</label>
        <input id="inpt-login-pass" type="text" />
        <a href="#/login"><input type="button" id="btn-login-user" name="Login" value="Login"></a>
    </div>
    <div id="filters">
        <h2>Filter</h2>
        <label for="inpt-filter-user">By user</label>
        <input id="inpt-filter-user" type="text" />
        <br />
        <label for="inpt-filter-text">By text</label>
        <input id="inpt-filter-text" type="text" />
        <br />
        <input type="button" id="btn-filter" name="Filter" value="Filter">
    </div>
</div>
