<div id="posts">

</div>
<div id="user-panel">
        <a href="#/logout"><input type="button" id="btn-logout-user" name="Logout" value="Logout"></a>
    <div id="filters">
        <h2>Filter</h2>
        <label for="inpt-filter-user">By user</label>
        <input id="inpt-filter-user" type="text" />
        <br />
        <label for="inpt-filter-text">By text</label>
        <input id="inpt-filter-text" type="text" />
        <br />
        <input type="button" id="btn-filter" name="Filter" value="Filter">
    </div>
    <div id="message">
        <h2>New message</h2>
        <label for="inpt-msg-title">Title</label>
        <input id="inpt-msg-title" type="text" />
        <br />
        <label for="inpt-msg-text">Message</label>
        <input id="inpt-msg-text" type="text" />
        <br />
        <input type="button" id="btn-msg" name="Send" value="Send">
    </div>
</div>