<div>
    <div id="posts-sender">
        <label for="tb-post-title">Enter the title of your post:</label>
        <input type="text" id="tb-post-title"/><br>
        <label for="tb-post-body">Enter your post:</label>
        <input type="text" id="tb-post-body">
            <!--<textarea id="tb-post-body" cols="25" rows="5">Enter your post here...</textarea><br>-->
        </form>
        <button id="btn-sendPost">Send</button>
    </div>
    <div id="posts-filter">
        <label for="posts-filter-user">Search by user: </label>
        <input type="text" id="posts-filter-user"/>
        <button id="btn-filter-by-user">Search</button>
    </div>
    <div id="posts-container">
        <ul id="post-items">
        </ul>
    </div>
</div>